.addfile {
    display: flex;
    justify-content: center;
    padding: 15px;
    list-style: none;
    height: 50px;

}

.progressbar {
    display: flex;
    justify-content: center;
    padding: 15px;
    list-style: none;
    height: 50px;

}