.title {
    width: 30rem;
    margin-left: 59rem;
    padding-top: 170px;

}

.logo {
    width: 10rem;
    margin-left: 70rem;

}

.start {
    width: 20rem;
    margin-left: 20rem;

}

.button {
    background-color: #E07A5F;
    font-size: 20px;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 12px;
    display: inline-block;
    border-style: solid;
    border-color: #E07A5F;
}