.createPostPage {
    
    display: flex;
    justify-content: center;
    padding: 15px;
    list-style: none;
    height: 50px;
}

.inputGp {
    list-style: none;
    height: 50px;

}

.text {
    color: rgba($color: #3D405B, $alpha: .75);
    font-size: 14px;

}